input {
    display: block;
    width: 75%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
}

.add-button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.add-button:hover {
    color: white;
    background-color: #42545C;
}

li {
    color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 20%;
}